    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background: #f5f5f5;
        padding: 20px;
    }

    /* GRID CONTAINER */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(242px, 1fr));
        /* grid-template-columns: repeat(4, 1fr); */
        gap: 20px;
        align-items: stretch;

    }


    /* ANNOUNCEMENT */
.announcement {
  background: #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 13px;
  font-weight: bold;
  
}

/* NAVBAR */
.navbar {
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  text-decoration: underline;
}

.icons span {
  margin-left: 15px;
  cursor: pointer;
}

/* PROMO */
.promo {
  background: #8b0015;
  color: white;
  text-align: center;
  padding: 20px;
}

.promo h2 {
  margin-bottom: 8px;
}

.promo a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* BREADCRUMB */
.breadcrumb {
  padding: 15px 30px;
  font-size: 14px;
  background: #fff;
}

.breadcrumb span {
  margin: 0 5px;
}

/* SIDEBAR */
    .sidebar {
      background: white;
      padding: 15px;
      border-radius: 8px;
      height: fit-content;
      position: sticky;
      top: 20px;
      height: auto;
      width: 100%;
    }

    .sidebar h3 {
      margin-top: 0;
      font-size: 16px;
    }

    .sidebar ul {
      list-style: none;
      padding: 0;
      margin: 10px 0;
    }

    .sidebar li {
      margin-bottom: 8px;
      font-size: 14px;
      cursor: pointer;
    }


     /* MAIN CONTENT */
    .main-content h2 {
      margin-top: 0;
    }


     .page {
      display: grid;
      grid-template-columns: 260px 1fr; /* sidebar + content */
      gap: 20px;
      padding: 10px;
      margin-top: 1%;

     }


    /* PRODUCT CARD */
    .product-card {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 8px;
        padding: 15px;
        position: relative;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    }

    /* BADGE */
    .badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background: red;
        color: white;
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 4px;
    }

    /* IMAGE */
    .product-card img {
       display: inline-block;

        width: 100%;
        height: 180px;
        object-fit: contain;
    }
    

    /* TEXT */
    .product-title {
        font-size: 14px;
        margin: 10px 0;
        height: 40px;
        overflow: hidden;
        min-height: 48px;
    }

    .price {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .current-price {
        font-weight: bold;
        font-size: 16px;
    }

    .old-price {
        text-decoration: line-through;
        color: gray;
        font-size: 14px;
    }


    .discount {
        color: green;
        font-size: 14px;
        font-weight: bold;
    }


.footer {
  background: #111;
  color: #fff;
  padding: 50px 30px 20px;
  margin-top: 1%;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  
}

.footer h4 {
  margin-bottom: 15px;
  font-size: 14px;
}

.footer a {
  display: block;
  color: #ccc;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 10px;
}

.footer a:hover {
  color: #fff;
}

.socials span {
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
}

.apps {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.app-box {
  border: 1px solid #555;
  padding: 20px;
  text-align: center;
  width: 80px;
  border-radius: 6px;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 12px;
  color: #aaa;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}


    /* RESPONSIVE */
    @media (max-width: 1024px) {
        .product-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 768px) {
        .product-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 480px) {
        .product-grid {
            grid-template-columns: 1fr;
        }
    }